<!DOCTYPE html>
<html>
<head>
    <title>Ipsum Generator</title>
    <style>
        body {
            background-color: lightgreen;
            text-align: center;
        }
        div {
            background-color: lightpink;
            width: 500px;
            height: 300px;
            text-align: center;
            position: relative;
            left: 466px;
            top: 200px;
            border-style: groove;
            border-left-color: dodgerblue;
            border-top-color: dodgerblue;
            border-bottom-color: dodgerblue;
            border-right-color: dodgerblue;
            border-width: 5px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div>
    <h1>Ipsum Generator</h1>

    <form action="/words" method="post">
    Ipsum Topic: <br><input type="text" name='topic'><br><br>
    Number of Paragraphs: <br><input type="text" name='number'><br><br>
    Number of Sentences per Paragraph: <br><input type="text" name='snumber'><br><br>
    <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>